<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="https://kit.fontawesome.com/a1c321da30.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script src="static/js/main.js"></script>
    <title>CMS - Index</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/images/CMSLogo.png" alt="logo">
            <h>CMS - Canteen Management System</h>
        </div>
        <div class="links">
            <a href="/menu">Weekly Menu</a>
            <a href="/queue">Queue Info</a>
            {% if role == "admin" %}
            <a href="/admin_manager">Admin Manager</a>
            <a href="/statistics">Statistics</a>
            {% endif %}
        </div>
        <h class="loggedInAs">Logged in as: {{ email }}</h>
        <button class="button-negative logout">
            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </button>
    </header>
    <container class="imageAndText">
       <img style="border-radius: 8px;" src="static/images/food.jpeg" alt="food">
         <div class="text">
              <h1>Canteen</h1>
              <p>ISEC has a canteen where the social dish is served, where the prices charged are 2.65€ for students and 4.10€ 
                for employees. In order to ensure students the possibility of having qualitatively balanced and affordable meals, 
                SASIPC currently has 5 canteens (one operated by the services themselves and four concessionaires) presenting a total 
                capacity of 872 seats. In addition to the canteens, all Schools/Institutes have a bar within their facilities, 
                whose opening hours usually follow the period of school activities.
                For more information access <a href="https://www.ipc.pt/ipc/acao-social/apresentacao-2/">here</a>.</p>
        </div>
    </container>
</body>
</html>