<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <title>CMS - Index</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/images/CMSLogo.png" alt="logo">
            <h>CMS - Canteen Management System</h>
        </div>
    </header>
    <container class="buttons">
        
        <button class="button">
            <a href="/meal">Meal Intention</a>
        </button>
        <button class="button">
            <a href="/queue">Queue Info</a>
        </button>
        <button class="button">
            <a href="/menu">Week Menu</a>
        </button>
        {% if role == "admin" %}
        <button class="button">
            <a href="/menu">Admin manager</a>
        </button>
        <button class="button">
            <a href="/menu">Menu Update</a>
        </button>
        <button class="button">
            <a href="/menu">Statistics</a>
        </button>
        {% endif %}
    </container>
    <container class="imageAndText">
       <img style="border-radius: 8px;" src="static/images/food.jpeg" alt="food">
         <div class="text">
              <h1>Cantina</h1>
              <p>O ISEC dispõe de uma cantina onde é servido o prato social, em que os preços praticados são de 2.65€ para os alunos e 4.10€ para os funcionários.

                De forma a assegurar aos estudantes a possibilidade de terem refeições qualitativamente equilibradas e a preços acessíveis, os SASIPC dispõem atualmente de 5 cantinas (uma explorada pelos próprios serviços e quatro concessionadas) apresentando no seu total uma capacidade de 872 lugares sentados.
                Para além das cantinas, todas as Escolas/Institutos possuem dentro das suas instalações um bar, cujo horário de funcionamento acompanha, em regra, o período das atividades escolares
                
                Para mais informações aceder <a href="https://www.ipc.pt/ipc/acao-social/apresentacao-2/">aqui</a>.</p>
        </div>
    </container>
</body>
</html>