<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <
    <title>CMS - Login</title>
 </head>
 <body>
    <img class="background_image" src="static/images/isec.jpeg">
    <header>
        <div class="logo_">
            <img src="static/images/CMSLogo.png" alt="logo">
            <h>CMS - Canteen Management System</h>
        </div>
    </header>
     {% if error %}
         <p class="error-modal">{{ error }}</p>
     {% endif %}
     <form id="form_login" action="/login" method="POST">
         <h class="title">Login</h>
         <input type="email" name="email" placeholder="Email" required>
         <input type="password" name="password" placeholder="Password" required>
         <input class="button-positive" type="submit" value="Login">
     </form>
 </body>
</html>