<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <title>CMS - Login</title>
</head>
<header>
    <div class="logo">
        <img src="static/images/CMSLogo.png" alt="logo">
        <h1>CMS - Canteen Management System</h1>
    </div>
<body>
    <form id="form_login" action="/login" method="POST">
        <h class="title">Iniciar Sessão</h>
        <input type="email" name="email" placeholder="Email" required>
        <input class="button-positive" type="submit" value="Entrar">
    </form>
</body>
</html>