<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/meal.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="static/js/meal.js"></script>
    <title>CMS - Meal Intention</title>
</head>
<body>
    <h2>Meal intention</h2>
    <ul class="accordion-menu">
      <li>
        <div class="dropdownlink"><i class="road" aria-hidden="true"></i> Carne
          <id class="insideDropdown" aria-hidden="true"></i>
        </div>
          <ul class="submenuItems">
               <a class="selected"  href="#ref1">Prego no prato</a>
               <div id="myDropdown" class="dropdown-content">
                <a href="#descricao">Descricao</a>
                <a href="#imagem">Imagem</a>
              </div>
              <a class="selected"  href="#ref2">Francesinha</a>
              <div id="myDropdown" class="dropdown-content">
               <a href="#descricao">Descricao</a>
               <a href="#imagem">Imagem</a>
             </div>
             
          </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="road" aria-hidden="true"></i> Peixe
          <id class="insideDropdown" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <a class="selected"  href="#ref3">Sardinha frita com arroz de tomate</a>
          <div id="myDropdown" class="dropdown-content">
           <a href="#descricao">Descricao</a>
           <a href="#imagem">Imagem</a>
         </div>
         <a class="selected"  href="#ref4">Empadão de bacalhau</a>
         <div id="myDropdown" class="dropdown-content">
          <a href="#descricao">Descricao</a>
          <a href="#imagem">Imagem</a>
        </div>
         
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="road" aria-hidden="true"></i> Vegatariano
          <id class="insideDropdown" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <a class="selected"  href="#ref3">Massa com tofu</a>
          <div id="myDropdown" class="dropdown-content">
           <a href="#descricao">Descricao</a>
           <a href="#imagem">Imagem</a>
         </div>
         <a class="selected"  href="#ref4">Massa com cogumelos</a>
         <div id="myDropdown" class="dropdown-content">
          <a href="#descricao">Descricao</a>
          <a href="#imagem">Imagem</a>
        </div>
        </ul>
      </li>
      
      <li> <nav>
        <a href="#save">Save</a>
        <a href="#cancel">Cancel</a>
        <div class="animation meal-home"></div>
    </nav></li>
    
    </ul>
</body>
</html>