<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/a1c321da30.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/menu.js"></script>
    <title>CMS - Weekly Menu</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/images/CMSLogo.png" alt="logo">
            <h>CMS - Canteen Management System</h>
        </div>
        <div class="links">
            <a href="/menu">Weekly Menu</a>
            <a href="/queue">Queue Info</a>

            <script>
                var role = "{{ role }}";
            </script>

            {% if role == "admin" %}
            <a href="/admin_manager">Admin Manager</a>
            <a href="/statistics">Statistics</a>
            {% endif %}
        </div>
        <button class="button-negative logout">
            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </button>
    </header>
    <div class="wrap">
        <h class="title">Weekly Menu</h>
        <select name="type" id="type">
            <option value="1">Peixe</option>
            <option value="2">Carne</option>
            <option value="3">Vegetariano</option>
        </select>
        <!-- Dropdown PEIXE CARNE VEGETARIANO (get) -->
        <div id="menu">
            {% if (menu) %}
            <div class="menu-wrap" id="almoco">
            {% for item in menu %}
                {% if item[3] == "Almoço" %}
                    <div id={{ item[0] }} class="menu-item">
                        <h>{{ item[1] }}</h>
                        <p>{{ item[2] }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}

        {% if (menu) %}
            <div class="menu-wrap" id="jantar">
            {% for item in menu %}
                {% if item[3] == "Jantar" %}
                <div id={{ item[0] }} class="menu-item">
                    <h>{{ item[1] }}</h>
                    <p>{{ item[2] }}</p>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        </div>
        <div class="box">
            <div></div>
            <p>Means that the meal intention is registered</p>
        </div>
    </div>
</body>
</html>