<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/queue.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="static/js/queue.js"></script>
    <title>CMS - Queue</title>
</head>
<body>
    <div class="wrapper">
        <h class="title">Estado das Filas</h>
        <div id="carne" class="queue-box">
            <h class="queue-type">Carne</h>
            <p class="count">0</p>
        </div>
        <div id="peixe" class="queue-box">
            <h class="queue-type">Peixe</h>
            <p class="count">0</p>
        </div>
        <div id="vegetariano" class="queue-box cancelled">
            <h class="queue-type">Vegetariano</h>
            <p class="count">0</p>
        </div>
    </div>
</body>
</html>