@font-face {
    font-family: AdiNeueRegular;
    src: url("/static/fonts/adineuePRO-Regular.ttf");
}

@font-face {
    font-family: AdiNeueBold;
    src: url("/static/fonts/adineuePRO-Bold.ttf");
}

header {
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 20px;
    height: 55px;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: line;
}

body {
    color: white;
    background-color: #141414;
    font-family: AdiNeueRegular;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.imageAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.imageAndText .text {
    margin-left: 5%;
    margin-right: 5%;
}

.text p a{
    color: #4c7f16;
}