@font-face {
    font-family: AdiNeueRegular;
    src: url("/static/fonts/adineuePRO-Regular.ttf");
}
@font-face {
    font-family: AdiNeueBold;
    src: url("/static/fonts/adineuePRO-Bold.ttf");
}

header{
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .logo{
    position: absolute;
    top: 50%;
    left: 20px;
    height: 55px;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: line;
}

header .logo h{
    position: absolute;
    color: white;
    width: 400px;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 0;
    margin: 0;
    font-family: AdiNeueRegular;
    font-size: 17px;
}

body{
    color: white;
    background-color: #141414;
    font-family: AdiNeueRegular;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: AdiNeueBold;
}

button, input[type="submit"]{
    cursor: pointer;
}

.button-positive{
    background-color: #5ea020;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}
.button-negative{
    background-color: #a02020;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}

.error-modal{
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(255, 49, 49);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 8px;
}

.links {
    position: relative;
    display: flex;
    top: 2px;
    left: 430px;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.links a{
    text-decoration: none;
    margin-left: 28px;
    color: white;
    font-size: 15px;
    font-family: AdiNeueRegular;
}
.links a:hover{
    color: #5ea020;
}

.logout{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: line;
    font-family: AdiNeueRegular;
    text-decoration: none;
    border: none;
    color: white;
}

.logout a{
    text-decoration: none;
    display: block;
    color: white;
}

.logout:hover {
    background-color: #7f1616;
}