.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap h{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.content-table{
    border-style: double;
    border-color: #AAAAAA;
    text-align: center;
    background-color: #444444;
    
}

.content-table td{
    border: 1px solid #AAAAAA
}

#first_row{
    background-color: cyan;
    color: #444444;
    text-align: center;
    font-size: 1.5em;
}

.btns{
    margin: 25px;
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
}