.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.wrapper .title{
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.wrapper .title i{
    transition: 0.2s;
    font-size: 30px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
.wrapper .title i:hover{
    transition: 0.1s;
    color: #5ea020;
    transform: rotate(50deg);
}

.queue-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 3px solid #5ea020;
    border-radius: 7px;
    padding: 20px;
    margin: 10px;
}
.queue-box .queue-type{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: AdiNeueBold;
    color: white;
    margin-bottom: 10px;
}
.queue-box .count{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: AdiNeueRegular;
    color: white;
    margin-bottom: 10px;
}
.queue-box .wait_time{
    font-size: 16px;
    text-align: center;
    font-family: AdiNeueRegular;
    color: rgb(159, 159, 159);
    margin-bottom: 10px;
}
.queue-box.cancelled{
    border: 3px solid #a02020;
}
.queue-box button{
    background-color: #468609;
    margin-bottom: 5px;
}
.queue-box button:hover{
    background-color: #75aa43;
    color: white;
    transition: 0.2s;
}

.queueBtn{
    position: relative;
    border-radius: 3px;
    background-color: #5ea020;
    border: none;
    color: #FFFFFF;
    padding: 10px;
}

.box{
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box div{
    position: relative;
    width: 25px;
    height: 2px;
    border-radius: 4px;
    border: 2px solid #a7d319;
    margin-right: 10px;
}
.red_legend{
    border: 2px solid #a02020;
}